#gameboard {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
  position: relative;
}

/* for the svg in the div with a class square */
.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  z-index: -9;  /* to make sure that the svg is always behind the square */
}

path {
  position: relative;
  z-index: -10;  /* to make sure that the path is always behind the svg */
}

.piece {
  position: relative;
  z-index: 9;  /* to make sure that the piece will always be the first */
}

.beige {
  background-color: rgb(110, 110, 98);
}

.brown {
  background-color: rgb(169, 43, 43);
}

.black {
  fill: rgb(28, 28, 28);
}

.white {
  fill: rgb(255, 255, 255);
}
